on early-boot
    #pre hw config
    exec /sbin/sh /pre_hw_config.sh
    #boot into recovery
    exec /sbin/bootrec

on boot
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    # USB Function framework
    #chown system system /sys/devices/platform/msm_hsusb_periphera/composition
    # USB Gadget framework
    chown system system /sys/devices/platform/android_usb/composition

    #WIFI
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    # give system access to wpa_supplicant.conf for backup and restore
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi
    chmod 0771 /data/misc/wifi

    chown system system /sys/class/power_supply/battery/disable_charging
    chown system system /sys/devices/platform/i2c-adapter/i2c-0/0-0036/br::suspend
    chown system system /sys/devices/platform/i2c-adapter/i2c-0/0-0036/mode
    chown system system /sys/devices/platform/mddi_hitachi_qvga/power_ctrl
    chown system system /sys/devices/platform/mddi_samsung_qvga/power_ctrl
    chown system system /sys/devices/platform/mddi_toshiba_hvga/power_ctrl
    chown system system /sys/devices/platform/mddi_hitachi_hvga/power_ctrl
    chown system system /sys/devices/platform/msm_pmic_misc_led.0/control::mode
    chown root system /proc/sysrq-trigger
    chmod 0220 /proc/sysrq-trigger

#needed for lights
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/red:brightness
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/green:brightness
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/blue:brightness
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/frequency
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/pwm
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/blink
    chmod 0777 /sys/devices/virtual/misc/rgb_led/rgb_led/power
    chmod 0777 /sys/devices/platform/msm_fb/leds/lcd-backlight/brightness
    chmod 0777 /sys/devices/platform/msm_pmic_flash_led/cmaflash:enable
    chmod 0777 /sys/devices/platform/msm_pmic_flash_led/spotlight:enable
    chmod 0777 /sys/devices/platform/i2c-adapter/i2c-0/0-0036/br::intensity
    chmod 0777 /sys/devices/platform/i2c-adapter/i2c-0/0-0036/mode
    chmod 0777 /sys/devices/platform/msm_pmic_misc_led.0/brightness

#needed for ril
    mkdir /data/radio 0777

# needed for sensors HAL:
    mkdir /etc/sensors 0777
    mkdir /dev/socket/sensors 0777 system system

# nvimport FIX
    mkdir /data/etc/ 0775
    mkdir /data/etc/wifi 0775

# Use interrupt to detect sd card insertion and removal
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 0

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/link_supervision_timeout 6400
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000

# Enabled port-bridge for 'eng' builds
service qmuxd /system/bin/qmuxd &

service hciattach /system/bin/hciattach -n /dev/ttyHS0 texas_new 3000000
    user root
    group bluetooth net_bt_admin misc
    disabled
    oneshot

service akmd /system/bin/akmd2
    user compass
    group compass misc input system

service semc_chargalg /system/bin/semc_chargalg

service hw_config /system/bin/sh /system/etc/hw_config.sh
    user root
    oneshot

service hciattach_legacy /system/bin/hciattach -n /dev/ttyHS0 texas_new 3000000
    user root
    # changing user to root from bluetooth is a potential security issue
    group bluetooth net_bt_admin misc
    disabled
    oneshot

service wlan_loader /system/bin/wlan_loader -i /etc/wifi/tiwlan.ini -f /etc/wifi/tiwlan_firmware.bin -e /data/etc/wifi/fw
    disabled
    oneshot

service dhcp-service /system/bin/netcfg tiwlan0 dhcp
    oneshot

service ifcfg_up /system/bin/ifconfig tiwlan0 up
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_tiwlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_tiwlan0 /system/bin/dhcpcd -BKL -d tiwlan0
    disabled
    oneshot

service dhcpcd /system/bin/dhcpcd -BKL -d tiwlan0
    disabled
    oneshot

# Needed for touch support
service inputattach /system/bin/inputattach -cypress /dev/ttyHS1

# Needed for slidercounter
service slidercounter /system/bin/slidercounter mimmi_keypad

# Check touch FW
service ts_fw_update /system/bin/sh /system/etc/ts_fw_update.sh
    user root
    oneshot

service wlan_ap_loader /system/bin/tiap_loader.sh
    disabled
    oneshot

service hostapd /system/bin/hostap /data/misc/wifi/hostapd.conf
    disabled
    oneshot

# Copy calibration data from NV to kernel drivers
service nvimport /system/bin/nvimport
    user root
    oneshot

