/dev/hw3d                0660 system graphics
/dev/kgsl-3d0            0660 system graphics
/dev/ttyHS0              0660 bluetooth bluetooth 
/dev/seport_control      0660 system system 
/dev/seport_plg_det      0660 system system 
/dev/seport_btn_det      0660 system system 
/dev/msm_rotator         0660 system graphics
/dev/akm8975_aot         0660 compass system
/dev/akm8975_dev         0660 compass system
/dev/pmem_gpu*           0666 system graphics
/dev/msm_pcm_dec*        0666 system audio
/dev/snd/controlC0*      0666 system audio
/dev/amrnb*              0660 system audio
/dev/amrwb*              0660 system audio
/dev/msm_qcelp*          0660 system audio
/dev/evrc*               0660 system audio
/dev/msm_voicememo*      0660 system audio
/dev/oncrpc/30000000:*   0660 radio  radio
/dev/oncrpc/30000003:*   0660 radio  radio
/dev/oncrpc/3000000e:*   0660 radio  radio
/dev/oncrpc/30000012:*   0660 radio  radio
/dev/oncrpc/30000016:*   0660 radio  radio
/dev/oncrpc/30000019:*   0660 radio  radio
/dev/oncrpc/3000003c:*   0660 radio  radio
