/dev/hw3d 0660 system graphics
/dev/msm_rotator 0660 system graphics
/dev/pmem_gpu* 0666 system graphics
/dev/msm_pcm_dec* 0666 system audio
/dev/snd/controlC0* 0666 system audio
/dev/amrnb* 0660 system audio
/dev/amrwb* 0660 system audio
/dev/msm_qcelp* 0660 system audio
/dev/evrc* 0660 system audion
/dev/msm_voicememo* 0660 system audio
/dev/oncrpc/30000000:*   0660    radio   radio
/dev/oncrpc/30000003:*   0660    radio   radio
/dev/oncrpc/3000000e:*   0660    radio   radio
/dev/oncrpc/30000012:*   0660    radio   radio
/dev/oncrpc/30000016:*   0660    radio   radio
/dev/oncrpc/30000019:*   0660    radio   radio
/dev/oncrpc/3000003c:*   0660    radio   radio
/dev/akm8975_aot 0660 compass system
/dev/akm8975_dev 0660 compass system

